# Preprocess for visualization

---
## Import

In [5]:
import pandas as pd
import re
import numpy as np
from datetime import datetime
import time
import datetime
from collections import Counter

---

## Preprocess

In [6]:
import os
import pandas as pd

# Get the current working directory (inside Preprocess folder)
base_dir = os.getcwd()
print(f"Current working directory: {base_dir}")
json_path = os.path.abspath(os.path.join(base_dir, "CareerViet_Official.json"))

# Check if the file exists
if os.path.exists(json_path):
    df = pd.read_json(json_path)
    display(df.head(5))
else:
    print(f"File {json_path} does not exist")

Current working directory: /home/phan/Workspace/job-recommendation-platform/data/Preprocess

,job_title,job_url,company_name,company_url,company_img_url,location,post_date,due_date,fields,salary,experience,position,benefits,job_description,requirements,en_fields,job_site
0,Nhân viên Kho - cấp bậc tổ trưởng (làm ca),https://careerviet.vn/vi/tim-viec-lam/nhan-vie...,CÔNG TY TNHH LEGO MANUFACTURING VIỆT NAM,https://careerviet.vn/vi/nha-tuyen-dung/cong-t...,https://images.careerviet.vn/employer_folders/...,[Bình Dương],1731430800,1735578000,[Vận chuyển / Giao nhận / Kho vận],Cạnh tranh,1 - 5 Năm,Nhân viên,"[ Laptop, Chế độ bảo hiểm, Phụ cấp, Xe đưa ...",\nMô tả Công việc\nVị trí Nhân viên K...,\nYêu Cầu Công Việc\nYêu cầu công vi...,[Logistics],CareerViet
1,Nhân viên Kho Lái Xe Nâng (Làm ca),https://careerviet.vn/vi/tim-viec-lam/nhan-vie...,CÔNG TY TNHH LEGO MANUFACTURING VIỆT NAM,https://careerviet.vn/vi/nha-tuyen-dung/cong-t...,https://images.careerviet.vn/employer_folders/...,[Bình Dương],1731430800,1735578000,[Vận chuyển / Giao nhận / Kho vận],Cạnh tranh,1 - 5 Năm,Nhân viên,"[ Laptop, Chế độ bảo hiểm, Phụ cấp, Xe đưa ...",\nMô tả Công việc\nVị trí Nhân viên K...,\nYêu Cầu Công Việc\nYêu\n \ncầu: \n...,[Logistics],CareerViet
2,Warehouse System Specialist (Shift Working),https://careerviet.vn/vi/tim-viec-lam/warehous...,CÔNG TY TNHH LEGO MANUFACTURING VIỆT NAM,https://careerviet.vn/vi/nha-tuyen-dung/cong-t...,https://images.careerviet.vn/employer_folders/...,[Bình Dương],1731430800,1735578000,[Vận chuyển / Giao nhận / Kho vận],Cạnh tranh,1 - 5 Năm,Nhân viên,"[ Laptop, Chế độ bảo hiểm, Phụ cấp, Xe đưa ...",\nMô tả Công việc\nThis position will be ...,\nYêu Cầu Công Việc\nDo you have what it...,[Logistics],CareerViet
3,Warehouse Admin Specialist,https://careerviet.vn/vi/tim-viec-lam/warehous...,CÔNG TY TNHH LEGO MANUFACTURING VIỆT NAM,https://careerviet.vn/vi/nha-tuyen-dung/cong-t...,https://images.careerviet.vn/employer_folders/...,[Bình Dương],1731430800,1735578000,[Vận chuyển / Giao nhận / Kho vận],Cạnh tranh,1 - 5 Năm,Nhân viên,"[ Laptop, Chế độ bảo hiểm, Phụ cấp, Xe đưa ...",\nMô tả Công việc\nThis position will be ...,\nYêu Cầu Công Việc\nDo you have what it...,[Logistics],CareerViet
4,CHUYÊN VIÊN CHÍNH THU HÚT NHÂN TÀI,https://careerviet.vn/vi/tim-viec-lam/chuyen-v...,CÔNG TY TÀI CHÍNH BƯU ĐIỆN,https://careerviet.vn/vi/nha-tuyen-dung/cong-t...,https://images.careerviet.vn/employer_folders/...,[Hà Nội],1731430800,1733936400,[Nhân sự],16 Tr - 18 Tr VND,Trên 3 Năm,Nhân viên,"[ Chế độ bảo hiểm, Du Lịch, Phụ cấp, Đồng p...",\nMô tả Công việc\nTriển khai tuyển d...,\nYêu Cầu Công Việc\nTốt nghiệp Đại...,[Human Resources],CareerViet

I think i am going to use these columns: 'location', 'post_date', 'experience', 'salary', 'en_fields'

In [7]:
df[['location', 'post_date', 'experience', 'salary', 'en_fields']]

,location,post_date,experience,salary,en_fields
0,[Bình Dương],1731430800,1 - 5 Năm,Cạnh tranh,[Logistics]
1,[Bình Dương],1731430800,1 - 5 Năm,Cạnh tranh,[Logistics]
2,[Bình Dương],1731430800,1 - 5 Năm,Cạnh tranh,[Logistics]
3,[Bình Dương],1731430800,1 - 5 Năm,Cạnh tranh,[Logistics]
4,[Hà Nội],1731430800,Trên 3 Năm,16 Tr - 18 Tr VND,[Human Resources]
...,...,...,...,...,...
24769,[Hà Nội],1728838800,None,4 Tr - 6 Tr VND,[Marketing/Advertising/Communications]
24770,[Hồ Chí Minh],1728838800,None,2 Tr - 5 Tr VND,[Others]
24771,[Hồ Chí Minh],1728838800,None,12 Tr - 17 Tr VND,"[Design, Marketing/Advertising/Communications]"
24772,[Hồ Chí Minh],1728838800,None,Cạnh tranh,"[Marketing/Advertising/Communications, Retail/..."
24773,[Long An],1728838800,None,Cạnh tranh,"[Retail/Consumer, Human Resources]"

Let's work with salary first, it is string, now i want it to be number

### 1. Salary

In [8]:
df['salary'].unique()

array(['Cạnh tranh', '16 Tr - 18 Tr VND', '20 Tr - 22 Tr VND',
       '20,000,000 - 22,000,000 VND', '10 Tr - 13 Tr VND',
       '30 Tr - 50 Tr VND', '14 Tr - 20 Tr VND', '6 Tr - 10 Tr VND',
       '10 Tr - 20 Tr VND', '15 Tr - 30 Tr VND', '1,000 - 3,000 USD',
       '15 Tr - 22 Tr VND', '30 Tr - 40 Tr VND', '9 Tr - 15 Tr VND',
       '10 Tr - 35 Tr VND', '13 Tr - 16 Tr VND', '18 Tr - 25 Tr VND',
       '15 Tr - 25 Tr VND', '8 Tr - 10 Tr VND', '2 Tr - 6 Tr VND',
       '10 Tr - 12 Tr VND', '10 Tr - 15 Tr VND', '30 Tr - 35 Tr VND',
       '8 Tr - 15 Tr VND', '13 Tr - 17 Tr VND', '7 Tr - 10 Tr VND',
       '5,3 Tr - 9 Tr VND', 'Trên  10 Tr VND', '8,5 Tr - 12 Tr VND',
       '10,000,000 - 15,000,000 VND', '8 Tr - 12 Tr VND',
       'Trên  12 Tr VND', '400 - 700 USD', '15 Tr - 15 Tr VND',
       '20 Tr - 35 Tr VND', '650 - 900 USD', '15 Tr - 20 Tr VND',
       '14 Tr - 17 Tr VND', '20 Tr - 28 Tr VND', '9 Tr - 10 Tr VND',
       '12 Tr - 15 Tr VND', '8 Tr - 9 Tr VND', '6 Tr - 12 Tr VND',
       '20 Tr - 30 Tr VND', '7 Tr - 7,5 Tr VND', '7 Tr - 11 Tr VND',
       '14 Tr - 19 Tr VND', '14 Tr - 18 Tr VND', '10 Tr - 14 Tr VND',
       '6 Tr - 8 Tr VND', '6,5 Tr - 7 Tr VND', '25 Tr - 40 Tr VND',
       'Trên  11 Tr VND', '11 Tr - 13 Tr VND', 'Trên  9 Tr VND',
       '6 Tr - 9 Tr VND', '1,500 - 2,000 USD', '6,5 Tr - 9 Tr VND',
       '25 Tr - 35 Tr VND', '9 Tr - 12 Tr VND', '3 Tr - 5 Tr VND',
       '12 Tr - 18 Tr VND', '7 Tr - 15 Tr VND', '8 Tr - 20 Tr VND',
       '11 Tr - 15 Tr VND', '8,5 Tr - 9,5 Tr VND', '12 Tr - 13 Tr VND',
       '12 Tr - 20 Tr VND', '6 Tr - 7 Tr VND', '15 Tr - 23 Tr VND',
       '18 Tr - 23 Tr VND', '7 Tr - 9 Tr VND', '8 Tr - 11 Tr VND',
       '9 Tr - 13 Tr VND', '13 Tr - 15 Tr VND', '17 Tr - 22 Tr VND',
       '8 Tr - 13 Tr VND', '8,400,000 - 30,000,000 VND',
       '35 Tr - 45 Tr VND', '20 Tr - 25 Tr VND', '35 Tr - 40 Tr VND',
       '9,5 Tr - 16 Tr VND', '15 Tr - 40 Tr VND', '12 Tr - 16 Tr VND',
       'Trên  20 Tr VND', '11 Tr - 20 Tr VND', '12 Tr - 14 Tr VND',
       '8,5 Tr - 15 Tr VND', '8 Tr - 17 Tr VND', '18 Tr - 28 Tr VND',
       '10 Tr - 25 Tr VND', '9 Tr - 14 Tr VND', '12 Tr - 28 Tr VND',
       '3 Tr - 3 Tr VND', '16 Tr - 22 Tr VND', '13 Tr - 18 Tr VND',
       '80 Tr - 200 Tr VND', '17 Tr - 25 Tr VND', '15 Tr - 35 Tr VND',
       '9 Tr - 20 Tr VND', 'Lên đến  40 Tr VND', '13 Tr - 20 Tr VND',
       '28 Tr - 38 Tr VND', '800 - 1,000 USD', '15 Tr - 18 Tr VND',
       '17 Tr - 20 Tr VND', '12 Tr - 17 Tr VND', '1,500 - 3,000 USD',
       '4 Tr - 6 Tr VND', '15 Tr - 17 Tr VND', 'Trên  15 Tr VND',
       '11 Tr - 14 Tr VND', '12 Tr - 25 Tr VND', '10 Tr - 17 Tr VND',
       'Trên  14 Tr VND', 'Trên  25 Tr VND', '10 Tr - 30 Tr VND',
       '12 Tr - 30 Tr VND', '7 Tr - 20 Tr VND', '7,5 Tr - 10 Tr VND',
       '18 Tr - 30 Tr VND', '7,5 Tr - 8,5 Tr VND', '6 Tr - 25 Tr VND',
       '15 Tr - 24 Tr VND', '13 Tr - 25 Tr VND', '800 - 1,700 USD',
       '6 Tr - 35 Tr VND', '10 Tr - 11 Tr VND', '50 Tr - 80 Tr VND',
       '18 Tr - 24,5 Tr VND', '9,5 Tr - 12 Tr VND', '30 Tr - 60 Tr VND',
       'Lên đến  1,7 Tr VND', '18 Tr - 22 Tr VND', '14 Tr - 16 Tr VND',
       '10 Tr - 18 Tr VND', 'Lên đến  15 Tr VND', '9 Tr - 35 Tr VND',
       '2,500 - 5,000 USD', '7 Tr - 8 Tr VND', '6 Tr - 15 Tr VND',
       '18 Tr - 20 Tr VND', '8 Tr - 8,5 Tr VND', '9 Tr - 11 Tr VND',
       '5 Tr - 15 Tr VND', '2,5 Tr - 15 Tr VND', '20 Tr - 23 Tr VND',
       '1,300 - 2,000 USD', 'Lên đến  25 Tr VND', '1,500 - 2,200 USD',
       'Lên đến  14 Tr VND', '28 Tr - 35 Tr VND', '5,0 Tr - 40 Tr VND',
       'Trên  8 Tr VND', '17 Tr - 26 Tr VND', '1 Tr - 2 Tr VND',
       '25 Tr - 30 Tr VND', 'Trên  18 Tr VND', 'Trên  13 Tr VND',
       '8 Tr - 30 Tr VND', '6 Tr - 30 Tr VND', '26 Tr - 30 Tr VND',
       '15 Tr - 16 Tr VND', '15 Tr - 27 Tr VND', '20 Tr - 21,5 Tr VND',
       '30 Tr - 80 Tr VND', '12,5 Tr - 16 Tr VND', '8 Tr - 40 Tr VND',
       '2,500 - 4,500 USD', '5 Tr - 20 Tr VND', '7,5 Tr - 9 Tr VND',
       '9,5 Tr - 10 Tr VND', '13,000,000 - 25,000,000 VND',
       '20 Tr - 23,3 Tr VND', '10 Tr - 22 Tr VND', '13 Tr - 15,8 Tr VND',
       '20,000,000 - 40,000,000 VND', '16 Tr - 17 Tr VND',
       '8 Tr - 9,7 Tr VND', '9 Tr - 18 Tr VND', '15 Tr - 21 Tr VND',
       '14 Tr - 15 Tr VND', '11 Tr - 17 Tr VND', '18 Tr - 35 Tr VND',
       '7,5 Tr - 8 Tr VND', '13 Tr - 14 Tr VND', '8 Tr - 14 Tr VND',
       '50 Tr - 60 Tr VND', '28 Tr - 30 Tr VND', '2,000 - 5,000 USD',
       '13 Tr - 13,5 Tr VND', '10 Tr - 50 Tr VND', '15 Tr - 19 Tr VND',
       '18,000,000 - 24,000,000 VND', '14 Tr - 23 Tr VND',
       '8 Tr - 25 Tr VND', '11 Tr - 12 Tr VND', '10 Tr - 13,5 Tr VND',
       'Lên đến  17 Tr VND', '10 Tr - 16 Tr VND', 'Trên  7 Tr VND',
       '16 Tr - 25 Tr VND', '18 Tr - 26 Tr VND', '15 Tr - 50 Tr VND',
       '3 Tr - 4 Tr VND', '10 Tr - 10 Tr VND', '25 Tr - 70 Tr VND',
       '23 Tr - 50 Tr VND', '10,000,000 - 40,000,000 VND',
       '16 Tr - 20 Tr VND', '2,000 - 2,500 USD', '22 Tr - 26 Tr VND',
       '22 Tr - 25 Tr VND', '3 Tr - 10 Tr VND',
       '7,000,000 - 8,000,000 VND', '30 Tr - 75 Tr VND',
       '50 Tr - 100 Tr VND', '22 Tr - 30 Tr VND', '12 Tr - 14,5 Tr VND',
       '800 - 1,500 USD', '25 Tr - 29 Tr VND',
       '20,000,000 - 25,000,000 VND', '5 Tr - 10 Tr VND',
       '5,3 Tr - 8,5 Tr VND', '500 - 1,500 USD', '10,5 Tr - 15 Tr VND',
       '10,2 Tr - 15 Tr VND', '2,5 Tr - 4 Tr VND',
       '25,000,000 - 35,000,000 VND', '9,5 Tr - 19 Tr VND',
       '25 Tr - 50 Tr VND', '800 - 1,200 USD', '14 Tr - 22 Tr VND',
       '7 Tr - 12 Tr VND', 'Lên đến  30 Tr VND', '20 Tr - 40 Tr VND',
       '7 Tr - 13 Tr VND', '13 Tr - 22 Tr VND', '13,0 Tr - 15,0 Tr VND',
       '1,800 - 2,500 USD', '14 Tr - 30 Tr VND', 'Trên  2,000 USD',
       '40 Tr - 50 Tr VND', 'Lên đến  33 Tr VND',
       '35,000,000 - 40,000,000 VND', '20 Tr - 50 Tr VND',
       'Lên đến  70 Tr VND', '19 Tr - 24 Tr VND', '24 Tr - 30 Tr VND',
       '50 Tr - 70 Tr VND', '8 Tr - 16 Tr VND', '8,5 Tr - 10 Tr VND',
       '13,5 Tr - 16 Tr VND', '12 Tr - 50 Tr VND', '80 Tr - 150 Tr VND',
       '800 - 2,000 USD', '9 Tr - 9,5 Tr VND', '700 - 1,000 USD',
       '6,5 Tr - 8 Tr VND', '15,000,000 - 18,000,000 VND',
       '20 Tr - 38 Tr VND', '36 Tr - 37 Tr VND', '25 Tr - 37,5 Tr VND',
       '800,000 - 1 Tr VND', '14 Tr - 25 Tr VND', '30 Tr - 45 Tr VND',
       '2,500 - 4,000 USD', '8 Tr - 9,5 Tr VND', '800 - 1,300 USD',
       '2,000 - 4,000 USD', '23 Tr - 25 Tr VND', '6,9 Tr - 7,5 Tr VND',
       '17 Tr - 23 Tr VND', '23 Tr - 28 Tr VND', 'Trên  5 Tr VND',
       '11 Tr - 23 Tr VND', '8 Tr - 23 Tr VND', 'Lên đến  80 Tr VND',
       'Trên  40 Tr VND', '1,000 - 1,500 USD', '30 Tr - 37,5 Tr VND',
       '40 Tr - 80 Tr VND', '19 Tr - 22 Tr VND', 'Trên  3 Tr VND',
       '19 Tr - 25 Tr VND', '3 Tr - 8 Tr VND', '8,3 Tr - 15 Tr VND',
       '12 Tr - 22 Tr VND', '500 - 1,000 USD', 'Lên đến  18 Tr VND',
       '17 Tr - 30 Tr VND', '5 Tr - 12 Tr VND',
       '15,000,000 - 25,000,000 VND', '21 Tr - 23 Tr VND',
       '450 - 800 USD', '23 Tr - 30 Tr VND', '1,000 - 1,000 USD',
       '22 Tr - 23,2 Tr VND', '1,800 - 2,000 USD', 'Trên  10,7 Tr VND',
       '10,5 Tr - 13 Tr VND', '1,200 - 2,000 USD', '25 Tr - 26 Tr VND',
       '20,000,000 - 30,000,000 VND', '20 Tr - 27 Tr VND',
       '9,5 Tr - 14 Tr VND', '10 Tr - 19 Tr VND', '35 Tr - 52 Tr VND',
       '25 Tr - 45 Tr VND', '35 Tr - 50 Tr VND', 'Trên  16 Tr VND',
       '600 - 750 USD', '50 Tr - 68 Tr VND', '2 Tr - 5 Tr VND',
       '30 Tr - 38 Tr VND', '8 Tr - 50,0 Tr VND', '28 Tr - 33 Tr VND',
       'Lên đến  12 Tr VND', '4,5 Tr - 6 Tr VND', 'Trên  17 Tr VND',
       '2 Tr - 3 Tr VND', '1,000 - 1,200 USD', '100 Tr - 300 Tr VND',
       'Lên đến  9 Tr VND', '13,5 Tr - 18 Tr VND', '11 Tr - 25 Tr VND',
       'Lên đến  2 Tr VND', '6 Tr - 20 Tr VND', '5 Tr - 7,5 Tr VND',
       'Trên  11,5 Tr VND', '14 Tr - 14 Tr VND', '7 Tr - 7 Tr VND',
       '8,6 Tr - 9,5 Tr VND', '42 Tr - 50 Tr VND', '7,2 Tr - 9 Tr VND',
       '750 - 1,200 USD', '11 Tr - 16 Tr VND', '18 Tr - 21 Tr VND',
       '27 Tr - 30 Tr VND', '6 Tr - 8,0 Tr VND', '20 Tr - 45 Tr VND',
       '8,5 Tr - 13,5 Tr VND', '6,5 Tr - 7,5 Tr VND',
       'Lên đến  20 Tr VND', '6,5 Tr - 18 Tr VND', '17 Tr - 21 Tr VND',
       'Trên  30 Tr VND', '15,000,000 - 20,000,000 VND',
       '12,000,000 - 17,000,000 VND', '9 Tr - 10,2 Tr VND',
       '800 - 1,400 USD', '17 Tr - 24 Tr VND', '20 Tr - 26 Tr VND',
       '2 Tr - 4 Tr VND', '25 Tr - 28 Tr VND',
       '9,000,000 - 15,000,000 VND', '30,000,000 - 40,000,000 VND',
       'Trên  400 USD', '5,000 - 10,000 USD', '40 Tr - 70 Tr VND',
       '20 Tr - 60 Tr VND', '17 Tr - 18 Tr VND', '17 Tr - 19 Tr VND',
       'Lên đến  2,300 USD', '30 Tr - 100 Tr VND', '5 Tr - 9 Tr VND',
       '12,000,000 - 18,000,000 VND', '28 Tr - 34 Tr VND',
       '12 Tr - 29 Tr VND', '2 Tr - 2 Tr VND', '22 Tr - 32 Tr VND',
       '22,7 Tr - 32 Tr VND', '7,2 Tr - 11 Tr VND', '9 Tr - 45 Tr VND',
       '1,000 - 2,000 USD', 'Trên  55 Tr VND', 'Trên  19 Tr VND',
       '7,5 Tr - 15 Tr VND', '14,5 Tr - 20 Tr VND', '13 Tr - 19 Tr VND',
       'Trên  60 Tr VND', '18 Tr - 18 Tr VND', '8,8 Tr - 11 Tr VND',
       '14 Tr - 31 Tr VND', '16 Tr - 23 Tr VND', '37 Tr - 50 Tr VND',
       '700 - 900 USD', '8,8 Tr - 12 Tr VND', '8,5 Tr - 18 Tr VND',
       '6,7 Tr - 10 Tr VND', 'Lên đến  22 Tr VND', '7 Tr - 16 Tr VND',
       '10 Tr - 23 Tr VND', '14,000,000 - 18,000,000 VND',
       '18 Tr - 24 Tr VND', '8,2 Tr - 18 Tr VND',
       '15,000,000 - 30,000,000 VND', '8,5 Tr - 11 Tr VND',
       '900,000 - 1,5 Tr VND', '6,5 Tr - 12 Tr VND', '10 Tr - 40 Tr VND',
       '40 Tr - 45 Tr VND', '20 Tr - 29 Tr VND', '6 Tr - 7,5 Tr VND',
       '18,000,000 - 30,000,000 VND', 'Trên  22 Tr VND',
       '7,5 Tr - 7,5 Tr VND', '9 Tr - 10,5 Tr VND', '1,200 - 1,400 USD',
       '37,5 Tr - 45 Tr VND', '50 Tr - 75 Tr VND', '3 Tr - 6,5 Tr VND',
       '1,200 - 1,600 USD', '600 - 1,000 USD', '12 Tr - 35 Tr VND',
       '7,5 Tr - 12 Tr VND', '40 Tr - 60 Tr VND', '28 Tr - 40 Tr VND',
       '10 Tr - 10,0 Tr VND', '7,8 Tr - 11 Tr VND', '12 Tr - 21 Tr VND',
       '21 Tr - 40 Tr VND', '30,000,000 - 50,000,000 VND',
       '7,5 Tr - 7,6 Tr VND', '60,000,000 - 80,000,000 VND',
       'Lên đến  32 Tr VND', 'Lên đến  13 Tr VND', '5 Tr - 7 Tr VND',
       '20,000,000 - 35,000,000 VND', 'Trên  25,000,000 VND',
       '12 Tr - 19 Tr VND', '7,500,000 - 15,000,000 VND',
       '6 Tr - 9,5 Tr VND', '9,400,000 - 15,000,000 VND',
       '25,000,000 - 40,000,000 VND', '2,5 Tr - 2,5 Tr VND',
       'Lên đến  2,000 USD', '7 Tr - 35 Tr VND', '6 Tr - 13 Tr VND',
       '8 Tr - 18 Tr VND', '11 Tr - 18 Tr VND', '5,5 Tr - 7 Tr VND',
       '20 Tr - 20 Tr VND', 'Lên đến  35 Tr VND', '7,1 Tr - 11 Tr VND',
       '22 Tr - 35 Tr VND', '7,000 - 10,000 USD', '5,000 - 7,000 USD',
       '1,000 - 1,800 USD', '80 Tr - 100 Tr VND', '7 Tr - 30 Tr VND',
       'Trên  6 Tr VND', '35 Tr - 35 Tr VND', '80 Tr - 120 Tr VND',
       '1,300 - 1,500 USD', '9 Tr - 25 Tr VND', '450 - 750 USD',
       '7 Tr - 14 Tr VND', '45 Tr - 65 Tr VND', '1,200 - 1,700 USD',
       '11,5 Tr - 11,5 Tr VND', '20 Tr - 70 Tr VND', '40 Tr - 55 Tr VND',
       '12 Tr - 40 Tr VND', '8 Tr - 10,8 Tr VND', '700 - 1,200 USD',
       '7,4 Tr - 13 Tr VND', '20 Tr - 100 Tr VND', '15 Tr - 45 Tr VND',
       '8,5 Tr - 9 Tr VND', '34,5 Tr - 46 Tr VND', '500 - 700 USD',
       '8 Tr - 50 Tr VND', '1,000 - 1,600 USD', '18 Tr - 32 Tr VND',
       '5 Tr - 6 Tr VND', '7 Tr - 8,5 Tr VND', 'Lên đến  50 Tr VND',
       '1,000 - 2,500 USD', '550 - 700 USD', '700 - 800 USD',
       '6,3 Tr - 9,3 Tr VND', '6,2 Tr - 7 Tr VND', '7,6 Tr - 9 Tr VND',
       '55 Tr - 65 Tr VND', '16 Tr - 19 Tr VND', '12 Tr - 24 Tr VND',
       '18,5 Tr - 20,5 Tr VND', '5,2 Tr - 7 Tr VND', 'Lên đến  10 Tr VND',
       '11 Tr - 30 Tr VND', '4,000 - 6,000 USD', '10,7 Tr - 12,5 Tr VND',
       '11,3 Tr - 12 Tr VND', '27 Tr - 40 Tr VND', '100 Tr - 120 Tr VND',
       '8,5 Tr - 13 Tr VND', '6,2 Tr - 7,5 Tr VND',
       '18,000,000 - 25,000,000 VND', '13 Tr - 30 Tr VND',
       '20 Tr - 24 Tr VND', '12 Tr - 27 Tr VND', 'Trên  26 Tr VND',
       '40 Tr - 100 Tr VND', '2,000 - 3,000 USD', '7,2 Tr - 7,7 Tr VND',
       '9,000,000 - 11,000,000 VND', '8,000,000 - 10,000,000 VND',
       '12 Tr - 23 Tr VND', '25,000,000 - 30,000,000 VND',
       '15,000,000 - 28,000,000 VND', '4,5 Tr - 25 Tr VND',
       '11 Tr - 21 Tr VND', 'Trên  4 Tr VND', '28 Tr - 32 Tr VND',
       '38 Tr - 45 Tr VND', '45,000,000 - 55,000,000 VND',
       '9,000,000 - 13,000,000 VND', '350 - 400 USD', '5,5 Tr - 9 Tr VND',
       'Trên  10,5 Tr VND', '1,900 - 2,300 USD',
       '14,000,000 - 20,000,000 VND', 'Trên  50 Tr VND',
       '30 Tr - 70 Tr VND', '10 Tr - 21 Tr VND',
       '14,000,000 - 35,000,000 VND', '16,000,000 - 23,000,000 VND',
       '7,000,000 - 9,000,000 VND', '16 Tr - 26 Tr VND',
       '60 Tr - 100 Tr VND', '9,5 Tr - 11 Tr VND', '2,6 Tr - 3 Tr VND',
       '5,0 Tr - 15 Tr VND', '16,000,000 - 20,000,000 VND',
       '7,5 Tr - 20 Tr VND', '4,5 Tr - 5 Tr VND', '13,5 Tr - 15 Tr VND',
       '9 Tr - 30 Tr VND', '11 Tr - 11 Tr VND', '5,3 Tr - 6 Tr VND',
       '22 Tr - 28 Tr VND', '11,000,000 - 21,000,000 VND',
       '12,000,000 - 20,000,000 VND', '550 - 1,000 USD',
       '6 Tr - 6,2 Tr VND', '10 Tr - 24 Tr VND', '7,5 Tr - 11 Tr VND',
       '9,2 Tr - 15 Tr VND', '7,1 Tr - 11,6 Tr VND', '32 Tr - 35 Tr VND',
       '22 Tr - 27 Tr VND', '20 Tr - 32 Tr VND', '8 Tr - 35 Tr VND',
       '2,000 - 3,500 USD', '8 Tr - 8 Tr VND', '33 Tr - 42 Tr VND',
       '18,000,000 - 23,000,000 VND', '22 Tr - 23 Tr VND',
       '8,000,000 - 20,000,000 VND', '1,200 - 1,500 USD',
       '26 Tr - 33 Tr VND', '5,8 Tr - 8 Tr VND', '6 Tr - 6,5 Tr VND',
       'Trên  9,000,000 VND', '15 Tr - 27,5 Tr VND', '30 Tr - 37 Tr VND',
       '4 Tr - 10 Tr VND', '5,5 Tr - 6,5 Tr VND', '1,600 - 1,800 USD',
       '4 Tr - 7 Tr VND', '8,000,000 - 13,000,000 VND',
       '10,000,000 - 14,000,000 VND', '15,000,000 - 17,000,000 VND',
       'Lên đến  11 Tr VND', '6,5 Tr - 8,5 Tr VND',
       '12,000,000 - 15,000,000 VND', '7,1 Tr - 10 Tr VND',
       '8 Tr - 12,0 Tr VND', '24 Tr - 25 Tr VND', '34 Tr - 62 Tr VND',
       '9,5 Tr - 13 Tr VND', '500 - 2,000 USD', '6 Tr - 18 Tr VND',
       '16 Tr - 30 Tr VND', '9,1 Tr - 16,6 Tr VND', '22 Tr - 40 Tr VND',
       '20 Tr - 34 Tr VND', 'Trên  1,200 USD', '50 Tr - 90 Tr VND',
       '8,5 Tr - 11,6 Tr VND', '17,000,000 - 23,000,000 VND',
       'Lên đến  23 Tr VND', '19,5 Tr - 25 Tr VND', '1,5 Tr - 4 Tr VND',
       '25 Tr - 25 Tr VND', '3 Tr - 3,5 Tr VND', '13 Tr - 21 Tr VND',
       '9 Tr - 16 Tr VND', '25 Tr - 27 Tr VND', '20 Tr - 80 Tr VND',
       '10,000,000 - 12,000,000 VND', '8,8 Tr - 13 Tr VND',
       '400 - 1,000 USD', '800 - 1,100 USD', '11 Tr - 35 Tr VND',
       'Trên  12,5 Tr VND', '6,3 Tr - 7,5 Tr VND', '7 Tr - 8,6 Tr VND',
       '9,6 Tr - 18 Tr VND', '1 Tr - 3 Tr VND', '23 Tr - 26 Tr VND',
       '23 Tr - 35 Tr VND', '3 Tr - 7 Tr VND', '25 Tr - 80 Tr VND',
       '3 Tr - 7,5 Tr VND', '8 Tr - 21 Tr VND', '13 Tr - 23 Tr VND',
       '12 Tr - 140 Tr VND', '9,5 Tr - 15 Tr VND', '45 Tr - 55 Tr VND',
       '1,500 - 1,800 USD', '24 Tr - 48 Tr VND', '20 Tr - 25,8 Tr VND',
       '8 Tr - 22 Tr VND', '7,8 Tr - 8 Tr VND', '1,700 - 1,800 USD',
       '8,500,000 - 9,500,000 VND', '7,6 Tr - 15 Tr VND',
       '750 - 1,500 USD', 'Trên  7,6 Tr VND', '9 Tr - 17 Tr VND',
       '40 Tr - 46 Tr VND', '13 Tr - 29 Tr VND', '550 - 850 USD',
       '6,100,000 - 7,200,000 VND', 'Lên đến  5 Tr VND',
       'Trên  20,000,000 VND', '16 Tr - 45 Tr VND', '1,100 - 1,300 USD',
       'Trên  500 USD', '13 Tr - 40 Tr VND', '24 Tr - 26 Tr VND',
       '9,000,000 - 12,000,000 VND', '50 Tr - 65 Tr VND',
       '6,4 Tr - 15 Tr VND', '9,5 Tr - 40 Tr VND', '10 Tr - 11,5 Tr VND',
       '900 - 1,500 USD', '600 - 800 USD', '15 Tr - 16,5 Tr VND',
       '15 Tr - 28 Tr VND', '6,4 Tr - 8 Tr VND', '23 Tr - 38 Tr VND',
       '9,0 Tr - 14 Tr VND', '1,000 - 1,300 USD', '6,2 Tr - 8 Tr VND',
       '1 Tr - 20 Tr VND', '25 Tr - 32 Tr VND', '7 Tr - 40 Tr VND',
       '23 Tr - 31 Tr VND', '1,500 - 4,000 USD', '5 Tr - 6,5 Tr VND',
       '25 Tr - 33 Tr VND', '6 Tr - 6 Tr VND', 'Trên  3,000 USD',
       'Lên đến  5,000 USD', 'Trên  7,5 Tr VND', '48 Tr - 80 Tr VND',
       'Lên đến  45 Tr VND', '32,5 Tr - 40 Tr VND',
       '20,000,000 - 32,000,000 VND', '9 Tr - 9,1 Tr VND',
       'Trên  35 Tr VND', '5 Tr - 8 Tr VND', '10,0 Tr - 18 Tr VND',
       '13,8 Tr - 17,1 Tr VND', '400 - 600 USD',
       '11,000,000 - 15,000,000 VND', '7 Tr - 25 Tr VND',
       '9,5 Tr - 12,5 Tr VND', '6,1 Tr - 25 Tr VND', '8 Tr - 45 Tr VND',
       '7,8 Tr - 20 Tr VND', 'Trên  6,5 Tr VND', '15 Tr - 26 Tr VND',
       '320 - 1,000 USD', '1,000 - 4,000 USD', '6,3 Tr - 7 Tr VND',
       '1,500 - 2,500 USD', 'Lên đến  1,000 USD',
       '9,000,000 - 10,000,000 VND', '22,5 Tr - 23,2 Tr VND',
       'Trên  15,000,000 VND', '4 Tr - 12 Tr VND', '11 Tr - 19 Tr VND',
       '25 Tr - 55 Tr VND', '30 Tr - 55 Tr VND', '23 Tr - 33 Tr VND',
       '24 Tr - 37 Tr VND', '20 Tr - 65 Tr VND', '22 Tr - 100 Tr VND',
       '4 Tr - 15 Tr VND', '10 Tr - 26 Tr VND', '3 Tr - 6 Tr VND',
       '20 Tr - 53 Tr VND', 'Lên đến  8 Tr VND', 'Trên  8,5 Tr VND',
       '10,000,000 - 17,000,000 VND', '7,8 Tr - 13 Tr VND',
       '10,000,000 - 13,000,000 VND', '45 Tr - 50 Tr VND',
       '35 Tr - 60 Tr VND', '17 Tr - 45 Tr VND', '18 Tr - 40 Tr VND',
       'Trên  45 Tr VND', '45 Tr - 60 Tr VND', '33 Tr - 50 Tr VND',
       '11 Tr - 12,5 Tr VND', '6,3 Tr - 6,3 Tr VND', '8,5 Tr - 40 Tr VND',
       '27 Tr - 32 Tr VND', '60 Tr - 75 Tr VND', '1,5 Tr - 3,5 Tr VND',
       '15 Tr - 33 Tr VND', '27 Tr - 50 Tr VND', '7,1 Tr - 30 Tr VND',
       '14 Tr - 26 Tr VND', '5,000 - 8,000 USD', '7,4 Tr - 15 Tr VND',
       '700 - 1,100 USD', '6,000 - 8,000 USD', '38 Tr - 40 Tr VND',
       '25 Tr - 32,5 Tr VND', '6,2 Tr - 9,5 Tr VND', '6 Tr - 21 Tr VND',
       'Trên  33 Tr VND', '300 - 500 USD', '6,5 Tr - 15 Tr VND',
       '7,5 Tr - 9,5 Tr VND', '13 Tr - 17,5 Tr VND', '50 Tr - 200 Tr VND',
       '13 Tr - 35 Tr VND', '21,5 Tr - 23 Tr VND', '39 Tr - 40 Tr VND',
       'Lên đến  26 Tr VND', '6,5 Tr - 8,3 Tr VND', '650 - 800 USD',
       'Trên  750 USD', '45 Tr - 70 Tr VND', '22,5 Tr - 25 Tr VND',
       'Lên đến  16 Tr VND', '8 Tr - 11,5 Tr VND', '70 Tr - 100 Tr VND',
       '11,000,000 - 13,000,000 VND', '17,5 Tr - 32,5 Tr VND',
       '18,5 Tr - 30 Tr VND', '3,000 - 4,000 USD', '14 Tr - 28 Tr VND',
       '600 - 1,600 USD', 'Lên đến  21 Tr VND', '16 Tr - 28 Tr VND',
       '1,100 - 1,700 USD', '400 - 800 USD', '425 - 485 USD',
       '10,5 Tr - 50 Tr VND', '11,5 Tr - 12,5 Tr VND',
       '16 Tr - 21 Tr VND', '1 Tr - 1,5 Tr VND', '8,4 Tr - 10,5 Tr VND',
       'Trên  70 Tr VND', '60 Tr - 70 Tr VND', '6,2 Tr - 12 Tr VND',
       '23 Tr - 32,5 Tr VND', '9 Tr - 50 Tr VND', '700 - 1,300 USD',
       '500 - 800 USD', '5 Tr - 5 Tr VND', '2,500 - 3,000 USD',
       '2 Tr - 20 Tr VND', 'Trên  1 Tr VND', 'Lên đến  4 Tr VND',
       '7 Tr - 7,2 Tr VND', '4 Tr - 5 Tr VND', 'Trên  3,5 Tr VND',
       '1,5 Tr - 2 Tr VND', '8,2 Tr - 9 Tr VND', '7 Tr - 18 Tr VND',
       '1,5 Tr - 3 Tr VND', '1 Tr - 1,2 Tr VND', '8 Tr - 26 Tr VND',
       '8,9 Tr - 8,9 Tr VND', '4 Tr - 8 Tr VND', 'Trên  2,5 Tr VND',
       '1,5 Tr - 2,5 Tr VND', 'Trên  2 Tr VND', '2,5 Tr - 3,5 Tr VND',
       '6 Tr - 8,5 Tr VND', '1,5 Tr - 5 Tr VND', '1 Tr - 5 Tr VND',
       'Trên  1,5 Tr VND', '2 Tr - 2,5 Tr VND', '5,5 Tr - 8 Tr VND',
       '2 Tr - 7 Tr VND', '500,000 - 3,5 Tr VND', 'Trên  63 Tr VND',
       '4 Tr - 4 Tr VND', '3,5 Tr - 4 Tr VND', '6,8 Tr - 6,8 Tr VND',
       '79 Tr - 106 Tr VND', '63 Tr - 76 Tr VND', '8,7 Tr - 9 Tr VND',
       '1,9 Tr - 2 Tr VND', '1 Tr - 4 Tr VND', 'Lên đến  1 Tr VND',
       '2,100 - 3,000 USD', '8,3 Tr - 9,4 Tr VND', '7,8 Tr - 9,3 Tr VND',
       '2 Tr - 4,4 Tr VND', '5 Tr - 5,2 Tr VND', '5,0 Tr - 12 Tr VND',
       '1 Tr - 1 Tr VND', '8 Tr - 8,2 Tr VND', 'Lên đến  3 Tr VND',
       '4,5 Tr - 7 Tr VND', '5,0 Tr - 6,3 Tr VND', 'Trên  135 USD'],
      dtype=object)

There seems to be some patterns

Try converting VND first

In [9]:
def convert_salary_vnd(salary):
    if 'Trên' in salary:
        # Extract the value after "Trên" and convert it to integer
        value = int(re.search(r'\d+', salary.replace(',', '')).group())
        return value * 1000000  # Convert Tr to VND
    elif 'Lên đến' in salary:
        # Extract the value after "Lên đến" and convert it to integer
        value = int(re.search(r'\d+', salary.replace(',', '')).group())
        return value * 1000000  # Convert Tr to VND
    elif '-' and 'Tr' in salary:
        # Extract the range values, calculate their average, and convert to integer
        values = re.findall(r'\d+', salary.replace(',', ''))
        values = [int(value) for value in values]
        average_value = np.mean(values)
        return average_value * 1000000  # Convert Tr to VND
    else:
        # For values like "15,000,000 - 35,000,000 VND"
        values = re.findall(r'\d+', salary.replace(',', ''))
        values = [int(value) for value in values]
        if len(values) == 2:
            average_value = np.mean(values)
        else:
            average_value = values[0]
        return average_value

Next USD to VND, I use the exchange rate of 1 USD to 25,000 VND

In [10]:
USD_TO_VND = 25000
def convert_salary_usd(salary):
    # Extract the value after "Trên" and convert it to integer
    if 'Trên' in salary:
        value = int(re.search(r'\d+', salary.replace(',', '')).group())
        return value * USD_TO_VND
    # Extract the value after "Lên đến" and convert it to integer
    elif 'Lên đến' in salary:
        value = int(re.search(r'\d+', salary.replace(',', '')).group())
        return value * USD_TO_VND
    # Extract the range values, calculate their average, and convert to integer
    elif '-' and 'Tr' in salary:
        values = re.findall(r'\d+', salary.replace(',', ''))
        values = [int(value) for value in values]
        average_value = np.mean(values)
        return average_value * USD_TO_VND

Combine them

In [11]:
def convert_salary(salary):
    if 'Cạnh tranh' in salary:
        return None
    elif 'VND' in salary:
        return convert_salary_vnd(salary)
    elif 'USD' in salary:
        return convert_salary_usd(salary)

In [12]:
df['salary'] = df['salary'].apply(convert_salary)
df['salary']

0               NaN
1               NaN
2               NaN
3               NaN
4        17000000.0
            ...
24769     5000000.0
24770     3500000.0
24771    14500000.0
24772           NaN
24773           NaN
Name: salary, Length: 24774, dtype: float64

Looks good, let's move on to experience

### 2. Experience

In [13]:
df['experience'].unique()

array(['1 - 5 Năm', 'Trên 3 Năm', '1 - 3 Năm', '1 - 2 Năm', 'Trên 1 Năm',
       '2 - 5 Năm', '5 - 6 Năm', 'Trên 5 Năm', None, '1 - 10 Năm',
       '1 - 4 Năm', '5 - 20 Năm', '3 - 5 Năm', '4 - 10 Năm', '2 - 3 Năm',
       '2 - 4 Năm', 'Trên 2 Năm', '1 Năm', '3 - 6 Năm', '5 - 8 Năm',
       '5 - 7 Năm', '5 - 10 Năm', '4 - 7 Năm', '3 - 7 Năm',
       'Lên đến 1 Năm', 'Chưa có kinh nghiệm', '3 - 4 Năm', '4 - 8 Năm',
       '2 - 8 Năm', 'Lên đến 2 Năm', 'Trên 7 Năm', '8 - 10 Năm',
       '0 - 0 Năm', '3 - 9 Năm', '2 - 6 Năm', '10 - 18 Năm', '4 - 5 Năm',
       '2 - 10 Năm', '3 - 8 Năm', 'Trên 4 Năm', '1 - 15 Năm',
       '3 - 10 Năm', '7 - 10 Năm', 'Trên 10 Năm', '5 - 15 Năm',
       'Lên đến 3 Năm', '10 - 15 Năm', '2 Năm', '3 - 15 Năm',
       '2 - 20 Năm', 'Trên 8 Năm', '30 - 45 Năm', '4 - 6 Năm', '7 Năm',
       '3 Năm', '4 - 15 Năm', 'Lên đến 5 Năm', 'Trên 6 Năm', '5 Năm',
       '4 - 20 Năm', 'Lên đến 10 Năm', '2 - 7 Năm', '1 - 7 Năm', '4 Năm',
       '5 - 12 Năm', 'Trên 15 Năm', 'Trên 12 Năm', '8 - 15 Năm',
       '8 - 12 Năm', '5 - 9 Năm', '2 - 15 Năm', '6 - 10 Năm', '1 - 6 Năm',
       '1 - 8 Năm', '7 - 15 Năm', '15 - 20 Năm', '6 - 8 Năm',
       '10 - 12 Năm', 'Lên đến 4 Năm', '5 - 25 Năm', '3 - 18 Năm',
       '6 - 7 Năm', '10 - 20 Năm', '1 - 20 Năm', 'Lên đến 15 Năm',
       '3 - 20 Năm', '7 - 20 Năm', '7 - 9 Năm', 'Lên đến 7 Năm', '6 Năm',
       '8 Năm', '5 - 30 Năm', '2 - 12 Năm', 'Trên 9 Năm', '11 - 15 Năm',
       '7 - 8 Năm', '4 - 12 Năm', '5 - 13 Năm', '1 - 12 Năm',
       'Trên 20 Năm', '6 - 11 Năm', '8 - 9 Năm', '10 - 25 Năm',
       '10 - 30 Năm', '7 - 30 Năm', '3 - 25 Năm', '6 - 12 Năm',
       'Lên đến 6 Năm', '3 - 12 Năm', '6 - 20 Năm', '3 - 30 Năm',
       '15 - 25 Năm', '6 - 15 Năm', '8 - 20 Năm'], dtype=object)

They are ranged, i want to convert them to job level name (Entry-Level, Mid-Level, Senior-Level, Management-Level, Executive-Level, C-Suite)

In [14]:
def job_level_classify(year):
    if year <= 2:
        return "Entry-Level"
    elif year <= 5:
        return "Mid-Level"
    elif year <= 10:
        return "Senior-Level"
    elif year <= 15:
        return "Management-Level"
    elif year <= 20:
        return "Executive-Level"
    else:
        return "C-Suite"

In [15]:
def experience_to_single_job_level(experience):
    if experience is None:
        return None
    # No experince => Entry-level
    elif "Chưa có kinh nghiệm" in experience:
        return "Entry-Level"
    # If there is only 1 year in string, use that year
    elif "Trên" in experience:
        year = int(re.search(r'\d+', experience).group())
        return job_level_classify(year)
    elif "Lên đến" in experience:
        year = int(re.search(r'\d+', experience).group())
        return job_level_classify(year)
    # Else, use the max integer
    else:
        try:
            years = re.findall(r'\d+', experience)
            max_exp = int(years[1])
            return job_level_classify(max_exp)
        except:
            return None

In [16]:
df['job_levels'] = df['experience'].apply(experience_to_single_job_level)
df[['experience', 'job_levels']]

       experience job_levels
0       1 - 5 Năm  Mid-Level
1       1 - 5 Năm  Mid-Level
2       1 - 5 Năm  Mid-Level
3       1 - 5 Năm  Mid-Level
4      Trên 3 Năm  Mid-Level
...           ...        ...
24769        None       None
24770        None       None
24771        None       None
24772        None       None
24773        None       None

[24774 rows x 2 columns]

### 3. Job existence duration

In [17]:
df[['post_date', 'due_date']]

        post_date    due_date
0      1731430800  1735578000
1      1731430800  1735578000
2      1731430800  1735578000
3      1731430800  1735578000
4      1731430800  1733936400
...           ...         ...
24769  1728838800  1731517200
24770  1728838800  1730307600
24771  1728838800  1731171600
24772  1728838800  1731517200
24773  1728838800  1731430800

[24774 rows x 2 columns]

In [18]:
df['post_date'] = pd.to_datetime(df['post_date'], unit='s')
df['due_date'] = pd.to_datetime(df['due_date'], unit='s')

In [19]:
df['job_duration'] = df['due_date'] - df['post_date']

In [20]:
df['job_duration'].unique()

<TimedeltaArray>
[  '48 days',   '29 days',   '17 days',   '30 days',   '35 days',   '32 days',
   '31 days',   '23 days',   '41 days',   '45 days',
 ...
  '106 days',   '75 days', '-755 days',   '88 days',  '-29 days',  '249 days',
  '343 days',  '110 days',   '76 days',  '109 days']
Length: 139, dtype: timedelta64[ns]

### The visualiztion tool cannot handle list as value, let's explode them

In [21]:
df = df.explode('location')
df = df.explode('en_fields')

### Write to file

In [ ]:
preprocess_df = df[['job_url', 'company_url', 'location', 'post_date', 'salary', 'job_levels', 'job_duration', 'en_fields']]
csv_file_path = 'visualization_preprocessed.csv'
preprocess_df.to_csv(csv_file_path, index=False)